canvas {
  width: 100%;
  height: 100%;
}

body {
  margin: 0px;
}

.wrap{
  background: url(../images/burn.jpg) no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: Title;
  src: url(../fonts/Pervitina-Dex-FFP.ttf) format("truetype");
}

@font-face {
  font-family: Info;
  src: url(../fonts/Flatwheat-Italic.ttf) format("truetype");
}

@font-face {
  font-family: Messages;
  src: url(../fonts/OstrichSans-Black.otf) format("truetype");
}

#title{
  display: block;
  text-align: center;
  font-family: Title;
  font-size: 5vw;
  color: darkred;
  text-decoration: overline underline;
  text-shadow: -1px 0 orange, 0 1px orange, 1px 0 orange, 0 -1px orange;
}

.start_b_div{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#start_b{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10vw;
}

.column {
  text-align: center;
  font-family: Title;
  font-size: 1.5vw;
  color: rgb(179, 0, 0);
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#lista_diff {
  width: auto;
  text-align: center;
  font-family: Title;
  font-size: 1.5vw;
  color: rgb(179, 0, 0);
  border: 3px solid rgb(179, 0, 0);
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-appearance: none;
  -moz-appearance: none;
}

.modal {
    display: none; 
    position: fixed; /* Stay in place */
    z-index: 101; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(1,1,1, 0.5); 
}

.modal-content {
    background-color: rgba(179,180,1, 0.9);
    position: absolute;
    top: 12.5%;
    left: 12.5%;
    width: 75%; 
    height: 75%; 
    overflow-y: auto; /* Enable scroll if needed */
    animation-name: animatetop;
    animation-duration: 0.4s
}

.modal-content2 {
    background-color: rgba(179,180,1, 0.9);
    position: absolute;
    top: 25%;
    left: 35%;
    width: 30%; 
    height: 50%;
    overflow-y: auto; /* Enable scroll if needed */
    animation-name: animatetop2;
    animation-duration: 0.4s
}

/* Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 12.5%; left: 12.5%; opacity: 1}
}
@keyframes animatetop2 {
  from {top: -300px; opacity: 0}
  to {top: 25%; left: 35%; opacity: 1}
}

.close {display: none;}

#commands{
  width:74vh; 
  height: 74vh;
  position:absolute;
  left:50%;
  top:50%;
  margin-top:-37vh; /* This needs to be half of the height */
  margin-left:-37vh;
}

/** game **/
.game {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  display: none;
}

#game_id {
  display: none;
}

#timer{
  display: block;
  font-family: "Info";
  font-size: 1vw;
  color: rgb(179, 0, 0);
  background-color: rgba(0, 179, 179, 0.4);
  z-index: 100;
  width: 11vw;
  height: 1.3vw;
  position: absolute;
  right: 0.5%;
  margin-top: 0.5%;
}

#height{
  display: block;
  font-family: "Info";
  font-size: 1.3vw;
  color: rgb(179, 0, 0);
  background-color: rgba(0, 179, 179, 0.4);
  z-index: 100;
  width: 11vw;
  height: 2.0vw;
  position: absolute;
  right: 0.5%;
  margin-top: 4%;
}

#velocity{
  display: block;
  font-family: "Info";
  font-size: 1.3vw;
  color: rgb(179, 0, 0);
  background-color: rgba(0, 179, 179, 0.4);
  z-index: 100;
  width: 11vw;
  height: 2.0vw;
  position: absolute;
  right: 0.5%;
  margin-top: 6.5%;
}

#roll{
    display: block;
    font-family: "Info";
    font-size: 0.9vw;
    color: rgb(179, 0, 0);
    background-color: rgba(0, 179, 179, 0.4);
    z-index: 100;
    width: 11vw;
    height: 2.0vw;
    position: absolute;
    right: 0.5%;
    margin-top: 11%;
}
#pitch{
     display: block;
     font-family: "Info";
     font-size: 0.9vw;
     color: rgb(179, 0, 0);
     background-color: rgba(0, 179, 179, 0.4);
     z-index: 100;
     width: 11vw;
     height: 2.0vw;
     position: absolute;
     right: 0.5%;
     margin-top: 13.5%;
 }

#conversation{
  display: block;
  font-family: "Messages";
  text-align: center;
  font-size: 2.9vh;
  color: rgb(179, 0, 0);
  background-color: rgba(179,180,1, 0.4);
  z-index: 100;
  width: 40vw;
  height: auto;
  position: absolute;
  top: 7%;
  left: 50%;
  transform: translate(-50%, 0);
}

#audio_div{
  display: block;
  position: absolute;
  z-index: 100;
  left: 5px;
  top: 1%;
}

#pause_div{
  display: block;
  position: absolute;
  z-index: 100;
  left: 40px;
  top: 1%;
}

#audio, #pause {
  height: 30px;
  width: 30px;
  background-color: rgba(255, 255, 255, 0.4);
}

#pause_page {
  display: block;
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Info;
  font-size: 50px;
  color: rgb(179, 0, 0);  
  text-align: center;
}

#pause_b{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  margin-top: 10px;
}

#help_div{
  display: block;
  position: absolute;
  z-index: 100;
  left: 75px;
  top: 1%;
}

#help {
  height: 30px;
  width: 80px;
  background-color: rgba(255, 255, 255, 0.4);
}